* {
    --font-main : "Sofia Sans";
    --font-title : "Secular One";
    --color-black : #3d3d3d;
    --color-white : #f0f0f0; 
    --color-yellow : #E9BE1A;
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

html {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
}